<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="openssl_vc120" target="openssl" version = "1.0.1.800" pathversion="1_0_1_800" platformtoolset="v120" libcrypto="libeay32" libssl="ssleay32"/>